/* Base Swiper styling */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide:hover {
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Swiper height */
.mySwiper,
.mySwiper .swiper-slide {
  width: 100%;
  height: 50vh; /* mobile-first */
}

@media (min-width: 768px) {
  .mySwiper,
  .mySwiper .swiper-slide {
    height: 500px;
  }
}

/* Slide container for positioning text */
.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Slide text style */
.slide-text {
  position: absolute;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 800;
  text-align: center;
  max-width: 80%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
  padding: 5px 5px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 8px;
}

/* Animate class for fade-in and move up */
.slide-text.animate {
  opacity: 1;
  transform: translate(-50%, 0);
}

/* Font size adjustments for responsiveness */
@media (min-width: 480px) {
  .slide-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .slide-text {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .slide-text {
    font-size: 2.3rem;
  }
}
